@using OEYBS.WebUI.Areas.SystemAdministrator.ViewModels.Corporation
@model ListViewModel

@{
    ViewBag.Title = "Kurumlar";
}


<div class="row">
    <div class="col-md-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Kurum Listesi</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dtCorporations" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Kurum Adı</th>
                                <th>Sözleşme Başlangıcı</th>
                                <th>Sözleşme Bitişi</th>
                                <th>Durum</th>
                                <th style="width:5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Corporations)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.StartOfContractDate.ToString("dd.MM.yyyy")</td>
                                    <td>@item.EndOfContractDate.ToString("dd.MM.yyyy")</td>
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <span class="badge badge-success">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Pasif</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Details","Corporation",new { id=item.Id})" class="btn btn-primary btn-circle btn-sm" title="Detaylar">
                                            <i class="fas fa-angle-right"></i>
                                        </a>                                       
                                    </td>
                                </tr>
                            }

                        </tbody>


                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section dataTable
{
    <script>
        $(document).ready(function () {
            $('#dtCorporations').DataTable({
                "language":
                {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                }
            });
        });

    </script>
}
